{% extends 'base.html' %}

{% block title %}

<img src="{{image}}" width="350px" height="200px"></img>

{{first}} {{last}}{% endblock %}


{% block content %}
<a href='/users/{{id}}/edit'>
  <button> Edit </button>
</a>

<form action='/users/{{id}}/delete' method="POST">
  <button> Delete </button>
</form>

<form action='/users/{{id}}/posts/new' method="POST">
  <ul>
    {% if posts != None %}
    {% for post in posts %}

    <li> <a href="/posts/{{post.id}}"> {{post.title}}</a></li>

    {% endfor %}
    {% else %}
    <h1>THIS IS WHERE POSTS GOT</h1>
    {% endif %}
  </ul>
</form>

<a href='/users/{{id}}/posts/new'>
  <button> Add Post </button>
</a>

{% for msg in get_flashed_messages() %}
<p>{{ msg }}</p>
{% endfor %}
{% endblock %}